footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  padding-block: 40px 60px;

  .top-footer {
    font-size: 25px;
    font-weight: 600;
  }
  .footer-menu {
    display: flex;
    .menu-item {
      list-style: none;
      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        margin-inline: 20px;
      }
    }
  }
}
